params {
   // Input parameters
   readfiles   = "sampleslist_new.csv"
   bn          = "TCR_MHE_PROJECT"
   chain       = 'TRB' //chain should be one of 'TRA', 'TRB' or 'TCR'
   mcpas       = "data/ddbb/McPAS-TCR.csv"
   vdjdb       = "data/ddbb/VDJdb-TCR.tsv"
   specie      = 'HomoSapiens' //chain should be one of 'HomoSapiens' or 'MusMusculus'
   outdir      = 'results'

   // Resources
   memory = 3.GB
   cpus = 1
   time = 1.h

   // Logging
   tracedir    = "${params.outdir}/performance-info"
}

process {
    cache = true
    withLabel: all_cpu {
        cpus   = params.cpus
    }

    // Specify here the MiXCR container
    withLabel: mixcr {
        container = 'milaboratory/mixcr:latest'
    }

    // Specify here the container with the R dependencies
    withLabel: mhecd4tcr {
        container = 'ssnnm/mhecd4tcr:0.1.0'
    }

}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

profiles {

    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }
    slurm {
        process.executor = 'slurm'
        queue = 'general'
        scratch = 'true'
        singularity.enabled = true
        clusterOptions = { '-o=job_%j.out -e job_%j.err' }
    }
    sge {
        process.executor = 'sge'
	process.penv = 'mpi'
        singularity.enabled = true
	singularity.autoMounts = true
	clusterOptions = { '-l h_vmem=20g' }
    }
}
