params {
  readfiles   = "$PWD/sampleslist.csv"
  bn         = "TCR_MHE_PROJECT"
  CACHEDIR   = "$PWD/cache"
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.queue = 'long'
        process.memory = '10GB'
        process.array = '1-24'
    }

}
